@page "/"
@inject NavigationManager UriHelper

<PageTitle>Index</PageTitle>

<h1>ScavengeRUs</h1>

<div>Welcome to ScavengeRUs!</div>

<div>Use the Qr Scanner to scan the sign up code!</div>

@*button to redirect to QR Scanner*@
<button class="btn btn-primary" @onclick="RediretToPage">Get Started!</button>

@code {
    /// <summary>
    /// redirecting to QR Scanner page once button list clicked
    /// </summary>
    void RediretToPage()
    {
        UriHelper.NavigateTo("QRScanner");
    }
}



