@page "/"

<PageTitle>Index</PageTitle>

<h1>ScavengersRUs</h1>

Scan the QR Code to start your Adventrue!

@using BlazorBarcodeScanner.ZXing.JS

<BlazorBarcodeScanner.ZXing.JS.BarcodeReader
    Title="Scan Barcode from Camera"
    StartCameraAutomatically="false"
    ShowStart="true"
    ShowReset="true"
    ShowToggleTorch = "true"
    ShowVideoDeviceList="true"
    VideoWidth="300"
    VideoHeight="200"
 />

