@page "/"
@inject NavigationManager UriHelper

<PageTitle>Index</PageTitle>

<h1>ScavengeRUs</h1>

<div>Welcome to ScavengeRUs!</div>

<div>Use the Qr Scanner to scan the sign up code!</div>

<button class="btn btn-primary" @onclick="RediretToPage">Get Started!</button>

@code {
    void RediretToPage()
    {
        UriHelper.NavigateTo("QRScanner");
    }
}



