@page "/QRScanner"
@using BlazorBarcodeScanner.ZXing.JS

@*Setting scale of the image box for the scanner as well as showing certain input buttuns for the function*@

<br>
    <div class="Scanner">
        <BlazorBarcodeScanner.ZXing.JS.BarcodeReader
        VideoWidth="300"
        VideoHeight="200"
        Title="Scan QR code from Camera"
        StartCameraAutomatically="false"
        ShowStart="true"
        ShowReset="true"
        ShowToggleTorch = "false"
        ShowVideoDeviceList="true"
        OnBarcodeReceived = "LocalReceivedQRText"
        ShowResult = "false"/>
    </div>



<div style="text-align: center; width: 100%">
    <input type="text" class="form-control" style="min-width: 100px; max-width: 500px; margin: auto; margin-top: 30px"
           @bind-value="LocalQRCodeText"
           placeholder="Code" />
</div>


 
@code{
    /// <summary>
    /// Allowing the ability to scan qr codes async strings
    /// </summary>
   
    private string LocalQRCodeText ="";

    private void LocalReceivedQRText(BarcodeReceivedEventArgs args)
    {
        this.LocalQRCodeText = args.BarcodeText;
        StateHasChanged();
    }

 }

 <style>
    .Scanner{
        text-align: center;
        width: 100%
    }

 </style>
   
 <style>
/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
body{
    background-color: #fa4251
}

 </style>
