@page "/tasks"
<!DOCTYPE html>
<html>
    <head>
        <title>Tasks</title>
    </head>
    <body>
        <p>This is an example of a simple HTML page with one paragraph.</p>
    </body>
</html>
@code {

}


<style>
    
body{
background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
     
}


</style>